h1 {
    color: white;
    font-size: 30px;
    font-style: oblique;
    background-color: purple;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 2px;
}
p {
        color: black;
        line-height: 30px;
        font-size: 18px;
        text-indent: initial;
        font-style: inherit;

}